*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'PT Sans', sans-serif;
}
.navbar{
	padding: 0;
	background-color: #fff;
}
.navbar-brand{
	    padding: 28px 0;
	    background: #1a54e7;
	    color: #fff !important;
	    margin: 0;
	    position: relative;
}
.navbar-brand h4{
	padding-right: 40px;
	margin-bottom: 0;
}
.navbar-brand:after{
	position: absolute;
	content: "";
	height: 100%;
	background-color: #1a54e7;
	top: 0;
	right: 100%;
	left: -5000px;
}
div.navbar-collapse{
	background-color: #fff !important;
}
div.icon{
	width: 60px;
	height: 84px;
	text-align: center;
	background-color: #f6f6f6;
	line-height: 65px;
}
div.icon i{
	font-size: 24px;
	color: #bdbdbd;
	transform: rotate(120deg)!important;
}
li.nav-item{
	margin-left: 25px;
}
li.nav-item a{
	color: #b2b2b2;
	font-size: 18px;
}
ul.right-menu ul.dropdown-menu{
	left: -31px;
}
ul.right-menu li:last-child a span{
	width: 5px;
    height: 5px;
    display: inline-block;
    background: #1a54e7;
    border-radius: 50%;
}
ul.right-menu a{
	color: #1a54e7 !important;
	position: relative;

}
ul.right-menu li a:after{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: #1a54e7;
	transform: scale(0);
	transition: all 0.4s ease;

}

ul.right-menu li a:hover:after{

	transform: scale(1);
}
div.icon .dropdown-menu{

}
div.icon .dropdown-menu form{
	width: 250px;
}	
div.icon .dropdown-menu input{
	border : 1px solid #fff;
}
div.icon .dropdown-menu input:focus{
	box-shadow: 0 0 0 0;
}	
.dropdown-toggle:after{

	display: none;
}


.carousel-caption {
   
    bottom: 50%;
    transform: translateY(50%);
}
.carousel-caption h5{
	font-size: 48px;
	color: #fff;
}
.carousel-caption img{
	margin-bottom: 20px;
}
.carousel-link{

	position: absolute;
    left: 20%;
    bottom: 35px;

}
.carousel-content{
	position: absolute;
	right: 20%;
    bottom: 35px;
    color: #fff;
}
.nav-content li{
	margin-right: 20px;
}
ul.nav-content li:first-child{
	color: #b0b0b0;
	border-right: 2px solid;
	padding-right: 15px;
}
ul.nav-content li:last-child{
	color: #1a54e7;
}
.carousel-control-prev{

	position: absolute;
    left: 0;
    top: 50%;
    height: 50px;
    width: 50px;
    background: #fff;
  text-decoration: none;
  font-size: 40px;
  color: black;
  opacity: 1;

}

.carousel-control-prev:hover{

	
    background: #fff;
  
  	color: black;

}




.carousel-control-next{
	position: absolute;
    right: 0;
    top: 50%;
    height: 50px;
    width: 50px;
    background: #fff;
    text-decoration: none;
    font-size: 40px;
    color: black;
    opacity: 1;

}
.carousel-control-next:hover,.carousel-control-next:focus,.carousel-control-prev:focus{

	
    background: #fff;
  	color: black;
}

.trip-section{
	padding-top: 35px;
	padding-bottom: 55px;
	background-color: #f6f6f6;
}
.trip{
	padding: 8px;

}
.trip-img{
	position: relative;
	margin-bottom: 25px;
	overflow: hidden;

}
.trip-img img{
	transition: all 0.3s ease;
}
.trip span{}
.trip h2{
	font-size: 21px;
	line-height: 1.7;
	margin-bottom: 15px;
    
}
.trip p{
	color: #b0b0b0;
	font-size: 14px;
	letter-spacing: 1px;
}
.trip p a{
	font-weight: 700;
}

span.trips{
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background: #d90445;
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	opacity: 0;
	transition: all 0.3s ease;
}

span.tech{
	background-color: #000;
}
.trip-img:hover img{
	transform: scale(1.1);
}
.trip-img:hover span.trips{

		opacity: 1;
		bottom: 20px;

}

.banner-section{

	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	
}
.banner-img{
	position: relative;
	overflow: hidden;

}
.banner-img img{
	transition: all 0.4s ease;
}
.banner-caption{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-5%);
}
.banner-caption h1{

	color: #fff;
	font-size: 48px;
	letter-spacing: 2px;
	font-weight: 500;
}

.banner-caption p{
   color: #fff;
   font-size: 18px;
}
.banner-section span{}
.banner-img span.trips{
	left: 43px;
}
.banner-img > p{
	color: #b0b0b0;
	position: absolute;
	right: 70px;
	bottom: 0;
	opacity: 0;
	transition: all 0.3s ease;
}
.banner-img:hover span.trips{
  
  		opacity: 1;
		bottom: 20px;
}

.banner-img:hover img{
	transform: scale(1.1);
}

.banner-img:hover p{
  
  		opacity: 1;
		bottom: 20px;
}

.portfolio-section{
	padding-top: 50px;
	padding-bottom: 90px;
}
.portfolio{
	margin: 35px 0;
}
.portfolio-img{
	position: relative;
	overflow: hidden;

}
.portfolio-img img{
	position: relative;
	transition: all 0.4s ease;
}
.portfolio-img span{

	font-weight: 600;
}
.portfolio-img span.nature{

	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background: #58b600;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	opacity: 0;
	transition: all 0.3s ease;
}

.portfolio-img span.people{

	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background: #1a54e7;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	opacity: 0;
	transition: all 0.3s ease;
}

.portfolio-img span.fashion{

	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background: #8200b2;
	width: 95px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	opacity: 0;
	transition: all 0.3s ease;
}

.portfolio-img:hover span{
	opacity: 1;
	bottom: 20px;
}
.portfolio-img:hover img{
	transform: scale(1.1);
}

.portfolio h3{
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.8;
}
.portfolio p{
	color: #b0b0b0;
	letter-spacing: 1px;
}
.portfolio p a{
	color: #1a54e7;
	font-weight: 700;
}
.newsletter-section{
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(../images/newsletter.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.newsletter-section h2{
	color: #fff;
	font-size: 48px;
	margin-bottom: 0;
}
.newsletter-section p{
	color: #8baeff;
	font-size: 24px;
	margin-bottom: 50px;
}
.newsletter{
	position: relative;
}
input[type="text"]{
	border-radius: 50px;
    background: #2c6cff;
    outline: 0;
    border: none;
    height: 50px;
}
input[type="text"]:hover,input[type="text"]:focus{
	background: #2c6cff;
	box-shadow: 0 0 0 0;
}
.submit button{
	background-color: #fff;
	color: #2c6cff;
	font-weight: 700;
	position: absolute;
	right: 0px;
	top: 0;
	width: 134px;
	height: 50px;
	border-radius: 40px;
	font-size: 18px;
	font-weight: 700;
}
footer{
	padding-top: 80px;
	padding-bottom: 100px;
}
footer p{
	font-size: 18px;
	font-weight: 300;
	color: #a7acbcab;
}
footer p a{
	text-decoration: none;
	color: #a7acbc;
	font-weight: 700;
}

footer p a:hover{
	color: #a7acbc;
	
}


